@import '../../index.css';

.extras div{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20rem 1.2rem 4rem 1.2rem;
}
.extras div h1{
  font-size: 1.5rem;
  font-family: 'Fraunces';
}
.extras div p{
  color: var(--very-dark-desaturated-blue);
  font-weight: 500;
  max-width: 21.5rem;
  font-size: var(--primary-font);
}
.extras div:nth-child(1){
  background: url('../../assets/images/mobile/image-graphic-design.jpg');
  background-size: cover;
  background-position: center;
}
.extras div:nth-child(2){
  background: url('../../assets/images/mobile/image-photography.jpg');
  background-size: cover;
  background-position: center;
}

@media (min-width:37.5rem) {
  .extras{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: stretch;  
  }
  .extras div{
    padding: 4rem 1.5rem 1.5rem 1.5;
  } 
  .extras div p{
    max-width: 28rem;
  }
  .extras div:nth-child(1){
    background: url('../../assets/images/desktop/image-graphic-design.jpg');
    background-position: center;
  }
  .extras div:nth-child(2){
    background: url('../../assets/images/desktop/image-photography.jpg'); 
    background-position: center;
  }
}

  