.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: stretch; 
    min-height: 300px   
}
.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

@media (min-width:37.5rem) {
    .gallery{
        grid-template-columns: repeat(4, 1fr); 
    }  
}
    
@media (min-width:47rem) {

}
   
@media (min-width:64rem) {
  
}