.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    align-items: stretch; /* Ensures children stretch to full height */
    min-height: 300px   
}
.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}