.footer{
    background-color: #90d4c5; 
    padding: 4rem 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .innerDiv{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer ul{
    margin-top: 1.5rem;
    display: flex;
    gap: 2rem;
    list-style: none;
}
.footer ul li a{
    text-decoration: none;
    color: #357e6d;
}
.footer ul li a:hover{
    color: #fff;
    transition: 0.5s ease-in-out;
}
.footer .socialsDiv{
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
}
