@import '../../index.css';

.clientTestimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 1rem;
}
.clientTestimonials h1{
    color: gray;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-family: 'Fraunces';
}
.clientTestimonials .testimonials{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.clientTestimonials .testimonials div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clientTestimonials .testimonials div img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.clientTestimonials .testimonials div p{
    color: gray;
    text-align: center;
    margin-top: 2rem;
    font-size: var(--primary-font);
}
.clientTestimonials .testimonials div h3{
   margin-top: 2rem;
   font-weight: 700;
   font-family: 'Fraunces';
}
.clientTestimonials .testimonials div span{
    margin-top: 0.5rem;
    color: var(--grayish-blue);
 }

@media (min-width:37.5rem) {
    .clientTestimonials{
        padding-left: 1.7rem;
        padding-right: 1.7rem;
    }
    .clientTestimonials .testimonials{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        grid-template-rows: auto auto;
    }
    .clientTestimonials .testimonials div:nth-child(1){
        grid-column: 1;
    }
    .clientTestimonials .testimonials div:nth-child(2){
        grid-column: 2;
    }
    .clientTestimonials .testimonials div:nth-child(3){
        grid-column: span 2;
        justify-self: center;
    }
}

@media (min-width:47rem) {
    .clientTestimonials{
        padding-left: 2.7rem;
        padding-right: 2.7rem;
    }
    .clientTestimonials .testimonials{
        grid-template-columns: repeat(3, 1fr);
    }
    .clientTestimonials .testimonials div:nth-child(3){
        grid-column: 3;
    }
}

@media (min-width:64rem) {
    .clientTestimonials{
        padding-left: 5rem;
        padding-right: 5rem;
    }  
}