:root {
  /* Primary Colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Neutral Colors */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Font sizes */

  --primary-font: 1.3rem;
  --secondary-font: 1.5rem;
  --tertiary-font: 2rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Barlow", serif;
  max-width: 1440px;
  margin: 0 auto;
}

/*  NAVBAR STYLES  */



/* hero section */



/*  FEATURES SECTION  */


/*  Extras section   */



/* SMALL DEVICES  */


@media (min-width:37.5rem) {

  .navbar,
  .hero{
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
  .navbar nav{
    display: flex;
  }
  .navbar .menu{
    display: none;
  }
  .hero h1{
    max-width: unset;
  }
  .hero{
    background-image: url('./assets/images/desktop/image-header.jpg');
    padding: 10rem 0;
  }
  .hero img{
    margin-top: 2rem;
    size: unset;
    height: unset;
  }
  /*.features article:nth-child(1){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'div' 'img';
  }
  .features article:nth-child(2){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }*/

  .features {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust spacing between articles */
  }
  
  .features article {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    align-items: stretch; /* Ensures children stretch to full height */
    min-height: 300px; /* Set a fixed height for uniformity */
  }
  
  .features article > * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensures equal height */
    width: 100%; /* Ensures equal width */
  }
  
  /* Specific adjustments for first article */
  .features article:nth-child(1) {
    grid-template-areas: "text image";
  }
  
  .features article:nth-child(1) > :first-child {
    grid-area: text;
  }
  
  .features article:nth-child(1) > :last-child {
    grid-area: image;
  }
  
  /* Ensuring images fit properly */
  .features article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .extras{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    align-items: stretch; /* Ensures children stretch to full height */
    min-height: 300px; 
  }
  .extras div{
    padding: 5rem 1.5rem;
  }
}


/*  MEDIUM DEVICES  */

@media (min-width:47rem) {
  .navbar,
  .hero{
    padding-left: 2.7rem;
    padding-right: 2.7rem;
  } 
}

/* LARGE DEVICES  */

@media (min-width:64rem) {
  .navbar,
  .hero{
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
}